body {
  margin: 0;
  background-color: #fdfbf7;
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  margin-left: 40px;
  font-weight: 600;
  transition: all 0.3s ease;
  color: #444 !important;
}

.nav-link:hover {
  transform: translateY(-3px);
  color: #d4a373 !important;
}

#supportHero{
  background-color: #d4a373;
  color: white;
}

#supportHero a{
  color: white;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}